ol {
  list-style-type: persian;
}
.popover {
  font-family: 'iranyekan';
}
.popover a {
  color: #0292ca;
}
.popover-body {
  font-size: 0.9rem;
}
#search_bar input {
  direction: rtl;
}
.location_bar {
  direction: rtl;
}
.gs-title,
.gs-title b {
  font-family: 'iranyekan' !important;
  direction: rtl !important;
  text-align: right !important;
  text-decoration: none !important;
}
.gs-snippet {
  font-family: 'iranyekan' !important;
  direction: rtl !important;
  text-align: right !important;
}
.gsc-url-top,
.gsc-url-bottom,
.gsc-url-top div {
  text-align: right !important;
}
